[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
sqlalchemy = "*"
alembic = "*"
pyfiglet = "*"
termcolor = "*"
faker = "*"
requests = "*"
python-dotenv = "*"
prettytable = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.10"
